.aboutPageMain {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.aboutPageHeaderDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 20px;
    padding: 100px 0;
    font-size: 30px;
}

.aboutFirstDiv{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
}

.aboutFirstContextDivh2{
    font-size: 40px;
    margin-top: 20px;
}

.aboutFirstContextDivh4{
    color: grey;
    margin-top: 20px;
}

.aboutPageTopCommit{
    width: 75%;
    margin-top: 30px;
}

.aboutPageTopCommit h4{
    color: grey;
}
.hrClass{
    color: rgba(128, 128, 128, 0.5);
    margin: auto;
}
.aboutPageTopCommitSecond{
    margin-top: 30px;
}
.aboutPageTopCommitFirst, .aboutPageTopCommitSecond{
    display: flex;
    align-items: center;
    height: 70px;
}

.aboutPageTopCommitFirst img, .aboutPageTopCommitSecond img{
    height: 100%;
    margin: auto 0;
}

.aboutPageServicesLink{
    background-color: #0C0367;
    margin-top: 30px;
    width: 200px;
    text-align: center;
    padding: 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;
}

.aboutPageServicesLink:hover{
    background-color: #291E97;
}

@media (max-width: 1124px) {
    .aboutFirstDiv{
        flex-direction: column;
        width: 100%;
    }

    .aboutFirstDiv img{
        flex-direction: column;
        width: 100% !important;
        object-fit: contain;
    }

    .aboutFirstContextDivh2, .aboutFirstContextDivh4, .aboutFirstContextDiv h3{
        text-align: center;
    }

    .aboutPageTopCommit{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 30px;
    }

    .aboutPageTopCommit {
        gap: 0;
        align-items: center;
    }
}
